<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Sobre</title>
</head>

<body>
  <header>
    <div class="bg-green">⠀</div>
    <div class="bg-yellow">⠀</div>
  </header>

  <h1 class="information">OBEJETIVO PRINCIPAL DO SISTEMA</h1>

  <div class="border"></div>

  <main>
    <div class="card">
          <p>
            O SIBI - Gerardo José é um sistema de biblioteca online desenvolvido por ex-alunos da E.E.E.P Gerardo José Dias de Loiola!
            <br><br>
            Ele foi criado com intuito principal de facilitar a administração da <strong>Bibilioteca</strong>,
            utilizando a tecnologia para tornar os processos mais <strong>rápidos</strong>, <strong>fáceis</strong>, <strong>seguros</strong>
            e <strong>organizados</strong>!!
            <br><br> <br><br>
            
          </p>
  </main>
      <div class="border-1"></div>
      <h1 class="information">CONTRIBUINTES DO PROJETO</h1>

    <div class="container">
      <div class="box-1">
          <img class="kb" src="./img/kb.jpg" alt="Kayke Barbosa">
          <h1>Kayke Barbosa</h1>
      </div>
      <div class="box-2">
          <img class="ja" src="./img/ja.jpg" alt="João Alison">  
        <h1>João Alison</h1>
      </div>
      <div class="box-3">
          <img class="mv" src="./img/mv.jpg" alt="">
        <h1>Macos Vinicius</h1>
      </div>
      </div>
    </div>

    
    <div class="container-1">
      <div class="box-col-4">
       <img class="rh" src="./img/rh.jpg" alt="Romario Henrique">
        <h1>Romário Henrique</h1>
      </div>
      <div class="box-col-5">
        <img class="br" src="./img/br.jpg" alt="">
        <h1>Bruno Rodrigues</h1>
    </div>
    
    <div class="reseved">
     <h3>Copyright © 2023 - Todos os direitos reservados.</h3>
    </div>

</body>
</html>