@font-face {
  font-family: TT-Hoves;
  src: url("fonts/tt-hoves-regular.otf");
}

@font-face {
  font-family: TT-Hoves-Bold;
  src: url("fonts/tt-hoves-bold.otf");
}

@font-face {
  font-family: TT-Interfaces-Bold;
  src: url("fonts/tt-interfaces-bold.ttf");
}

  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
  body{
    background-color: #dbefe4;
  }

  header .bg-green {
    background-color: #2AB572;
  }

  header .bg-yellow {
    background-color: #FFBA00;
  }


  .container{
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container-form{
    width: 53vw;
    height: 90vh;
    border: solid 4px #2ab572;
    background-color: #fff;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    
  }

  .title{
    text-align: center;
    color: #808586;
    margin-top: 70px;
    font-size: 45px;
    font-family: TT-Hoves-Bold;
  }

  input{
    background-color: #dbefe4;
    font-size: 20px;
    height: 3.6rem;
    width: 390px;
    padding: 15px;
    border-radius: 1.5em !important;
    border: solid 3px #2ab572 !important;
  }

  .form-area{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }

  .row{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .col{
    display: flex;
    flex-direction: column;
  }

  .label-form{
    font-weight: bold;
    color: #808586;
    font-size: 18px;
    font-family: TT-Interfaces-Bold;
  }

  .btn-form{
    margin-top: 30px;
    width: 245px;
    height: 55px;
    border-radius: 1.55em;
    background-color: #2ab572;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: TT-Hoves;
  }
  
  .btn-exit{
    
    width: 100px;
    height: 55px;
    text-decoration: none;
    background-color: #2ab572;
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 25px;
    font-family: TT-Hoves;
  }

  datalist {
    position: absolute;
    max-height: 20em;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    background-color: #ccc;
    cursor: pointer;
  }
  
  /* option active styles */
  datalist option:hover,
  datalist option:focus {
    color: #fff;
    background-color: #036;
    outline: 0 none;
  }
  
  #browserdata option {
    font-size: 1.8em;
    padding: 0.3em 1em;
    background-color: #ccc;
    cursor: pointer;
  }